.footer{
    left: 0;
    bottom: 0;
    width: 70px;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    margin-left: 2%;
    color: white;
    background-color: #f9f9f9af;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
}

.LinkToContactPage{
    text-decoration: none;
    color: black;
}

.LinkToContactPage:hover{
    text-decoration: underline;
}